Closing this issue since Assemble has been completely refactored from the ground up and released as v0.6.0.

However, if this is related to grunt-assemble, and the issue or feature request is still valid, please [use this link](https://github.com/assemble/grunt-assemble/issues/new?body=Moved%20from%20assemble%2Fassemble%23issuenumber&title=) to create a new issue on the grunt-assemble repository.

Also, please be sure to include:

* The version of `assemble` you are using.
* Your `assemblefile.js` (This can be in a gist)
* The commandline output. (Screenshot or gist is fine)
* The expected result versus what's actually happening
